<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <meta property="og:image" content="https://whispers.kor3k.cz/assets/img/whispers-avatar.png" />
    <meta property="og:url"content="https://whispers.kor3k.cz" />
    <meta property="og:title" content="Whispers - An end-to-end encrypted chat" />
    <meta property="og:description" content="Whispers is an open source, self-hosted, end-to-end encrypted chat" />

    <title>Whispers</title>

    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

    <link rel="stylesheet" type="text/css" href="assets/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="assets/semantic-ui/semantic.bootstrap3.min.css">
    <link rel="stylesheet" type="text/css" href="assets/smileys/smileys.css">
    <!--<link rel="stylesheet" type="text/css" href="assets/emoticons/jquery.cssemoticons.css">-->
    <!-- data-main attribute tells require.js to load
         scripts/main.js after require.js loads. -->
    <script data-main="app/main" src="assets/js/require.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>

    <div id="app">

        <navigation inline-template>
            <div class="ui borderless stackable menu">
                <div class="ui container">
                    <a class="header item" href="#">{{ $t( 'layout.title' ) }}</a>
                    <router-link :to="{ 'name' : 'index' }" class="item">{{ $t( 'layout.navigation.index' ) }}</router-link>
                    <router-link :to="{ 'name' : 'registration' }" v-if="!$parent.user" class="item">{{ $t( 'layout.navigation.registration' ) }}</router-link>
                    <router-link :to="{ 'name' : 'login' }" class="item" v-text="!$parent.user ? $t( 'layout.navigation.login' ) : $t( 'layout.navigation.logout' )"></router-link>

                    <!--<template v-for="(title,name) in $parent.trans('layout').navigation">-->
                        <!--<router-link :to="{ 'name' : name }" class="item">{{ title }}</router-link>-->
                    <!--</template>-->

                    <div class="ui mobile only dropdown item">
                        {{ $t( 'layout.navigation.channels' )  }}
                        <div class="i dropdown icon"></div>
                        <div class="menu">
                            <router-link :to="{ 'name' : 'channel-list' }" class="item">{{ $t( 'channel.list' ) }}</router-link>
                            <router-link :to="{ 'name' : 'channel-create' }" class="item">{{ $t( 'channel.create' ) }}</router-link>
                            <div class="divider"></div>
                            <router-link v-for="(val,key) in $parent.joinedChannels.toJSON()" :key="key" :to="{ name : 'channel-messages' , params : { channelID : key } }" v-text="key" class="item"></router-link>
                        </div>
                    </div>

                    <div class="ui mobile only dropdown item">
                        {{ $t( 'layout.navigation.tools' )  }}
                        <div class="i dropdown icon"></div>
                        <div class="menu">
                            <router-link :to="{ 'name' : 'tools-sym' }" class="item">{{ $t( 'tools.sym' ) }}</router-link>
                            <router-link :to="{ 'name' : 'tools-asym' }" class="item">{{ $t( 'tools.asym' ) }}</router-link>
                            <router-link :to="{ 'name' : 'tools-asym-keygen' }" class="item">{{ $t( 'tools.asymKeygen' ) }}</router-link>
                        </div>
                    </div>

                    <div class="right menu">
                        <a href="javascript:void(0)" class="item" v-for="locale in $parent.getAvailableLocales()" @click="$parent.setLocale( locale )" v-text="locale"></a>
                    </div>

                </div>
            </div>
        </navigation>

        <br />

        <div class="ui doubling stackable grid container">

            <header class="sixteen wide column">
                <h1 class="ui dividing header">
                    {{ $t( 'layout.title' ) }}
                </h1>
            </header>

            <section class="sixteen wide column">
                <keep-alive>
                    <router-view></router-view>
                </keep-alive>
            </section>

            <div class="sixteen wide column">
                <div class="ui top attached secondary segment">
                    <button class="fluid ui button" type="button" @click="clearLog">{{ $t( 'layout.clearLog' ) }}</button>
                </div>
                <div class="ui bottom attached secondary segment" id="log">
                </div>
            </div>

            <footer class="sixteen wide center aligned column">
               <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> &copy; Aliens from Uranus
            </footer>
        </div>

        <!--<div class="ui centered grid doubling stackable container">-->
            <!--<div class="computer only row" style="background: black; color: white;">-->
                <!--<div class="column">computer only</div>-->
            <!--</div>-->
            <!--<div style="background: pink;" class="six wide tablet eight wide computer column">a</div>-->
            <!--<div style="background: yellow;" class="six wide tablet eight wide computer column">b</div>-->
            <!--<div style="background: green;" class="six wide tablet eight wide computer column">c</div>-->
            <!--<div style="background: blue;" class="six wide tablet eight wide computer column">d</div>-->
            <!--<div style="background: red;" class="six wide tablet eight wide computer column">e</div>-->
        <!--</div>-->

    </div>

    <aside id="templates">
        <!--<script type="x/template" id="cmpnt-index" data-name="index"></script>-->
        <!--<script type="x/template" id="cmpnt-tools" data-name="tools"></script>-->
        <!--<script type="x/template" id="cmpnt-tools-sym" data-name="tools-sym"></script>-->
        <!--<script type="x/template" id="cmpnt-tools-asym" data-name="tools-asym"></script>-->
        <!--<script type="x/template" id="cmpnt-tools-asym-keygen" data-name="tools-asym-keygen"></script>-->
        <!--<script type="x/template" id="cmpnt-registration" data-name="registration"></script>-->
        <!--<script type="x/template" id="cmpnt-login" data-name="login"></script>-->
        <!--<script type="x/template" id="cmpnt-channel-list" data-name="channel-list"></script>-->
        <!--<script type="x/template" id="cmpnt-channel-create" data-name="channel-create"></script>-->
    </aside>

</body>
</html>