
.large.text {
    font-size: 2rem !important;
}

.larger.text {
    font-size: 120% !important;
}

.css-emoticon {
    font-size: 120% !important;
    padding: 0px !important;
}

.linethrough {
    text-decoration: line-through;
}

.grid.container
{
    /*margin-top: 50px !important;*/
}

code
{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/*@media only screen and (max-device-width: 768px)*/
@media only screen and (max-width: 768px)
{
    .grid.container
    {
        /*margin-top: 40% !important;*/
        /*margin-top: 300px !important;*/
    }
}
