


<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'channel.message.send' ) }}</h3>
    </div>

    <div class="eight wide column">
        <button class="right fluid ui negative button" @click="leaveChannel" type="button">{{ $t( 'channel.leave' ) }}</button>
    </div>

    <div class="sixteen wide column">
        <form @submit.prevent="sendMessage">
            <div class="ui grid form segment">

                <div class="ten wide column">
                    <div class="field">
                        <label>{{ $t( 'channel.message.text' ) }}</label>
                        <textarea v-model="message" :placeholder="$t( 'channel.message.text' )"></textarea>
                    </div>
                </div>

                <div class="six wide column">
                    <div class="field">
                        <label>{{ $t( 'channel.users' ) }}</label>
                        <span v-for="(since,userID,i) in getSortedUsers()" :key="i" class="ui larger text" :data-tooltip="$momentFormatted(since)">
                            <span v-text="userID"></span> ,
                        </span>
                    </div>
                </div>

                <div class="sixteen wide column">
                    <button class="fluid ui primary button" type="submit">{{ $t( 'channel.message.send' ) }}</button>
                    <!--<button class="fluid ui button" type="submit">Submit</button>-->
                    <!--<button class="fluid ui basic button" type="submit">Submit</button>-->
                    <!--<button class="fluid ui primary button" type="submit">Submit</button>-->
                    <!--<button class="fluid ui secondary button" type="submit">Submit</button>-->
                    <!--<button class="fluid ui negative button" type="submit">Submit</button>-->
                    <!--<button class="fluid ui positive button" type="submit">Submit</button>-->
                </div>

            </div>
        </form>
    </div>

    <div class="eight wide column">
        <h3>{{ $t( 'channel.messages' ) }} - {{ $parent.$route.params.channelID }}</h3>
    </div>

    <div class="sixteen wide column" style="overflow: auto;" ref="messageLog">

        <div class="ui segments">
                <div v-for="(m,key,i) in getSortedMessages()" :key="i" class="ui segment larger text" :data-tooltip="$momentFormatted(m.sent)">
                    <strong v-text="m.from">{{ m.from }}</strong> : <span class="emoticons" v-text="m.text">{{ m.text }}</span>
                    <!--<div class="ui horizontal segments">-->
                    <!--<div class="ui segment">-->
                    <!--<p>{{ m.nickname }}</p>-->
                    <!--</div>-->
                    <!--<div class="ui segment">-->
                    <!--<p>{{ m.message }}</p>-->
                    <!--</div>-->
                    <!--<div class="ui segment">-->
                    <!--<p>{{ m.timestamp }}</p>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
        </div>

    </div>
</div>