


<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'channel.list' ) }}</h3>
    </div>

    <!--<div class="sixteen wide column">-->
        <!--<button class="fluid ui button" @click="$router.push({ 'name' : 'channel-create' })" type="button">Create channel</button>-->
    <!--</div>-->

    <div class="sixteen wide column" style="overflow: auto;" ref="channelList">

        <div class="ui segments">
            <template v-for="(ch,chkey,chi) in $parent.$store.state.chat.channels.toJSON()">
                <div class="ui segment">
                    <div class="ui horizontal segments">
                        <div class="ui segment larger text" :data-tooltip="$momentFormatted(ch.created)">
                            <strong v-text="chkey"></strong>
                        </div>
                        <!--<div class="ui segment" data-tooltip="created">-->
                            <!--<p v-text="$momentFormatted(ch.created)"></p>-->
                        <!--</div>-->
                        <div class="ui segment" :data-tooltip="$t( 'channel.users' )">
                            <em v-for="(u,ukey,j) in ch.users" v-text="ukey + ' '"></em>
                        </div>
                        <div class="ui segment">
                            <template v-if="$parent.isChannelJoined(chkey)">
                                <div class="ui fluid buttons">
                                    <button class="ui positive button" @click="enterChannel(chkey)">{{ $t( 'channel.enter' ) }}</button>
                                    <div class="or" :data-text="$t( 'common.or' )"></div>
                                    <button class="ui negative button" @click="leaveChannel(chkey)">{{ $t( 'channel.leave' ) }}</button>
                                </div>
                            </template>

                            <template v-else> <!--  v-if="!$parent.isChannelJoined(chkey)" -->
                                <button v-if="!$parent.isChannelJoined(chkey)" class="right fluid ui button" @click="joinChannel(chkey)" type="button">{{ $t( 'channel.join' ) }}</button>
                            </template>

                            <!--<button v-if="$parent.isChannelJoined(chkey)" class="right fluid ui button positive" @click="enterChannel(chkey)" type="button">Enter</button>-->
                            <!--<button v-if="!$parent.isChannelJoined(chkey)" class="right fluid ui button" @click="joinChannel(chkey)" type="button">Join</button>-->
                            <!--<button v-else class="right fluid ui positive button" @click="joinChannel(chkey)" type="button">Join</button>-->
                            <!--<button class="right fluid ui negative button" type="button">Leave</button>-->
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>