
<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'channel.create' ) }}</h3>
    </div>

    <div class="sixteen wide column">
        <form @submit.prevent="">
            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'channel.name' ) }}</label>
                        <input type="text" v-model="channel" :placeholder="$t( 'channel.name' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>&nbsp;</label>
                        <button class="right fluid ui button" @click="createChannel" type="button">{{ $t( 'channel.join' ) }}</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>
