
<div>

    <header>
        <!--<h1 title="OpenPGP + Firebase = Whispers">Whispers</h1>-->
        <h2>An end-to-end encrypted chat</h2>
        <div>
            <img src="assets/img/whispers-avatar.png" alt="whispers avatar" style="width: 128px;" class="ui medium bordered image" />
        </div>
    </header>

    <!--<hr />-->

    <article>

            <p>
                Whispers is an open source, self-hosted, end-to-end encrypted chat. This website serves as a fully functional demo.
            </p>

            <h3>Abstract</h3>
            <ul>
                <li>
                    Utilizes PGP asymmetric encryption to provide fully end-to-end encrypted instant messaging between multiple users.
                </li>
                <li>
                    Uses Firebase document-based database for storing messages and users.
                </li>
                <li>
                    All encryption and decryption is done in the browser.
                </li>
                <li>
                    Messages are transferred only in encrypted format.
                </li>
                <li>
                    User's password is <strong>never</strong> transferred anywhere. It is stored in client's RAM only.
                </li>
                <li>
                    User's private key is not transferred anywhere by default.
                </li>
                <li>
                    User can opt to store private key to database. Use with caution.
                </li>
                <li>
                    Message is signed &amp; encrypted before sending
                </li>
                <li>
                    Message is decrypted &amp; verified after receiving
                </li>
                <li>
                    Messages which cannot be decrypted &amp; verified are discarded
                </li>
            </ul>

            <h3>Requirements</h3>
            <ul>
                <li>
                    A <a href="http://www.firebase.com">Firebase</a> "app". You must provide app url and security token.
                </li>
                <li>
                    Web browser
                </li>
                <li>
                    Static file hosting. Works when hosted locally as long as all users share the same Firebase app url.
                </li>
            </ul>

            <h3>Installation</h3>
            <p>
                Download source code from <a href="https://bitbucket.org/al13ns/whispers-js.git">BitBucket</a> or via

                <code>git clone https://bitbucket.org/al13ns/whispers-js.git</code>.

                <br />

                Create your Firebase app and put it's credentials into

                <code>app/firebase.js</code>.

                <br />

                Then run in your browser.
            </p>

            <h3>Dependencies</h3>
            <ul>
                <li v-for="(url,title) in links">
                    <a :href="url" v-text="title" target="_blank"></a>
                </li>
            </ul>


        <hr />
    </article>


</div>
