
<div class="ui grid">

    <div class="eight wide column">
        <h3 v-text="$parent.user ? $t( 'layout.navigation.logout' ) : $t( 'layout.navigation.login' )"></h3>
    </div>

    <div class="sixteen wide column">
        <form @submit.prevent="">
            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKeyPass' ) }}</label>
                        <input type="password" v-model="password" :placeholder="$t( 'common.privKeyPass' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.name' ) }}</label>
                        <input type="text" v-model="user.name" :placeholder="$t( 'common.name' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKey' ) }}</label>
                        <div class="ui action input">
                            <textarea v-model="privateKey" id="pgp-private-key" :placeholder="$t( 'common.privKey' )"></textarea>
                            <input type="file" accept="text/*" style="display: none;" @change="loadPrivateKey" ref="privKeyFile" />

                            <button class="ui icon button" @click="clickPrivKeyFile">
                                <i class="folder open icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="sixteen wide column">
                    <div class="ui fluid buttons">
                        <button v-if="$parent.user" class="ui positive button" @click="login" disabled>{{ $t( 'layout.navigation.login' ) }}</button>
                        <button v-else class="ui positive button" @click="login">{{ $t( 'layout.navigation.login' ) }}</button>
                        <div class="or" :data-text="$t( 'common.or' )"></div>
                        <button v-if="!$parent.user" class="ui negative button" @click="logout" disabled>{{ $t( 'layout.navigation.logout' ) }}</button>
                        <button v-else class="ui negative button" @click="logout">{{ $t( 'layout.navigation.logout' ) }}</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>
