
<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'layout.navigation.registration' ) }}</h3>
    </div>

    <div class="sixteen wide column">
        <form @submit.prevent="">
            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.name' ) }}</label>
                        <input type="text" v-model="user.name" :placeholder="$t( 'common.name' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.email' ) }}</label>
                        <input type="text" v-model="user.email" :placeholder="$t( 'common.email' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKey' ) }}</label>
                        <div class="ui action input">
                            <textarea v-model="privateKey" id="pgp-private-key" :placeholder="$t( 'common.privKey' )"></textarea>
                            <input type="file" accept="text/*" style="display: none;" @change="loadPrivateKey" ref="privKeyFile" />

                            <button class="ui icon button" @click="clickPrivKeyFile">
                                <i class="folder open icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.pubKey' ) }}</label>
                        <div class="ui action input">
                            <textarea v-model="publicKey" :placeholder="$t( 'common.pubKey' )"></textarea>
                            <input type="file" accept="text/*" style="display: none;" @change="loadPublicKey" ref="pubKeyFile" />

                            <button class="ui icon button" @click="clickPubKeyFile">
                                <i class="folder open icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKeyPass' ) }}</label>
                        <input type="password" v-model="password" :placeholder="$t( 'common.privKeyPass' )" />
                    </div>
                </div>

                <div class="four wide column">
                    <div class="field">
                        <label>&nbsp;</label>
                        <button class="fluid ui button" type="button" @click="verifyKeys">{{ $t( 'common.verifyKeys' ) }}</button>
                    </div>
                </div>

                <div class="four wide column">
                    <div class="field">
                        <label>&nbsp;</label>
                        <button class="fluid ui button" type="button" @click="userIDfromKey">{{ $t( 'registration.nameFromKey' ) }}</button>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.options' ) }}</label>
                        <div class="ui left floated compact segment">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="action-encrypt-decrypt" @change="" v-model="savePrivKey"  />
                                <label for="action-encrypt-decrypt">{{ $t( 'registration.savePrivKey' ) }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sixteen wide column">
                    <div class="ui fluid buttons">
                        <button class="ui positive button" @click="register">{{ $t( 'registration.register' ) }}</button>
                        <div class="or" :data-text="$t( 'common.or' )"></div>
                        <button class="ui negative button" @click="unregister">{{ $t( 'registration.unregister' ) }}</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>
