
<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'layout.navigation.tools' ) }}</h3>
    </div>

    <section class="sixteen wide column">
        <keep-alive>
            <router-view></router-view>
        </keep-alive>
    </section>

</div>
