
<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'tools.asymKeygen' ) }}</h3>
    </div>

    <div class="sixteen wide column">
        <form @submit.prevent="">
            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.name' ) }}</label>
                        <input type="text" v-model="user.name" :placeholder="$t( 'common.name' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.email' ) }}</label>
                        <input type="text" v-model="user.email" :placeholder="$t( 'common.email' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKeyPass' ) }}</label>
                        <input type="text" v-model="password" :placeholder="$t( 'common.privKeyPass' )" />
                    </div>
                </div>

                <div class="sixteen wide column">
                    <div class="ui fluid buttons">
                        <button class="ui positive button" @click="generateKeys">{{ $t( 'tools.generateKeys' ) }}</button>
                    </div>
                </div>

            </div>

            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKey' ) }}</label>
                        <div class="ui action input">
                            <textarea v-text="privateKey" :placeholder="$t( 'common.privKey' )" readonly></textarea>
                        </div>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.pubKey' ) }}</label>
                        <div class="ui action input">
                            <textarea v-text="publicKey" :placeholder="$t( 'common.pubKey' )" readonly></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>
