
<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'tools.asym' ) }}</h3>
    </div>

    <div class="sixteen wide column">
        <form @submit.prevent="">
            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKey' ) }}</label>
                        <div class="ui action input">
                            <textarea v-model="privateKey" id="pgp-private-key" :placeholder="$t( 'common.privKey' )"></textarea>
                            <input type="file" accept="text/*" style="display: none;" @change="loadPrivateKey" ref="privKeyFile" />

                            <button class="ui icon button" @click="clickPrivKeyFile">
                                <i class="folder open icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.pubKey' ) }}</label>
                        <div class="ui action input">
                            <textarea v-model="publicKey" :placeholder="$t( 'common.pubKey' )"></textarea>
                            <input type="file" accept="text/*" style="display: none;" @change="loadPublicKey" ref="pubKeyFile" />

                            <button class="ui icon button" @click="clickPubKeyFile">
                                <i class="folder open icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.privKeyPass' ) }}</label>
                        <input type="password" v-model="password" :placeholder="$t( 'common.privKeyPass' )" />
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>&nbsp;</label>
                        <button class="fluid ui button" type="button" @click="verifyKeys()">{{ $t( 'common.verifyKeys' ) }}</button>
                    </div>

                </div>

            </div>

            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.options' ) }}</label>
                        <div class="ui left floated compact segment">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="action-encrypt-decrypt" @change="" v-model="action.encDec"  />
                                <label for="action-encrypt-decrypt">{{ $t( 'tools.encrypt' ) }}/{{ $t( 'tools.decrypt' ) }}</label>
                            </div>
                        </div>
                        <div class="ui left floated compact segment">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" id="action-sign-verify" @change=""  v-model="action.sigVer" /> <!-- :checked="t.completed" -->
                                <label for="action-sign-verify">{{ $t( 'tools.sign' ) }}/{{ $t( 'tools.verify' ) }}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.message' ) }}</label>
                        <div class="ui action input">
                            <textarea v-model="message" :placeholder="$t( 'common.message' )"></textarea>
                            <input type="file" accept="text/*" style="display: none;" @change="loadMessage" ref="messageFile" />

                            <button class="ui icon button" @click="clickMessageFile">
                                <i class="folder open icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="sixteen wide column">
                    <div class="ui fluid buttons">
                        <button class="ui positive button" @click="box">{{ $t( 'tools.box' ) }}</button>
                        <div class="or" :data-text="$t( 'common.or' )"></div>
                        <button class="ui negative button" @click="unbox">{{ $t( 'tools.unbox' ) }}</button>
                    </div>
                </div>

            </div>

            <div class="ui grid form segment">

                <div class="sixteen wide column">
                    <div class="field">
                        <!--<label>{{ $t( 'common.message' ) }}</label>-->
                        <button class="fluid ui primary button" type="button" @click="addPartner()">{{ $t( 'tools.addPartner' ) }}</button>
                    </div>
                </div>

                <template v-for="(val,key) in partners">

                    <div class="eight wide column">
                        <div class="field">
                            <label>{{ $t( 'common.pubKey' ) }}</label>
                            <div class="ui action input">
                                <textarea v-model="val.publicKey" :placeholder="$t( 'common.pubKey' )" @change="readPartnerUsername(key)"></textarea>
                                <input type="file" accept="text/*" style="display: none;" @change="loadPartnerKey(key)" ref="partnerKey" />

                                <button class="ui icon button" @click="clickPartnerKeyFile(key)">
                                    <i class="folder open icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="eight wide column">
                        <div class="field">
                            <label>{{ $t( 'common.name' ) }}</label>
                            <input type="text" v-model="val.username" :placeholder="$t( 'common.name' )" readonly />
                        </div>
                        <div class="field">
                            <button class="fluid ui negative button" type="button" @click="removePartner(key)">{{ $t( 'tools.removePartner' ) }}</button>
                        </div>
                    </div>

                </template>
            </div>

        </form>
    </div>

</div>
