
<div class="ui grid">

    <div class="eight wide column">
        <h3>{{ $t( 'tools.sym' ) }}</h3>
    </div>

    <div class="sixteen wide column">
        <form @submit.prevent="">
            <div class="ui grid form segment">

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.password' ) }}</label>
                        <input type="text" v-model="password" :placeholder="$t( 'common.password' )" />
                        <br />
                        <br />
                        <button class="fluid ui button" type="button" @click="generateKey()">{{ $t( 'tools.generatePass' ) }}</button>
                    </div>
                </div>

                <div class="eight wide column">
                    <div class="field">
                        <label>{{ $t( 'common.message' ) }}</label>
                        <textarea v-model="message" :placeholder="$t( 'common.message' )"></textarea>
                    </div>
                </div>

                <div class="sixteen wide column">
                    <div class="ui fluid buttons">
                        <button class="ui positive button" @click="encrypt">{{ $t( 'tools.encrypt' ) }}</button>
                        <div class="or" :data-text="$t( 'common.or' )"></div>
                        <button class="ui negative button" @click="decrypt">{{ $t( 'tools.decrypt' ) }}</button>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>
